
  <mat-horizontal-stepper  #stepper>
    <mat-step [stepControl]="femployeeForm" errorMessage="General Information is required.">
      <ng-template matStepLabel>General Information</ng-template>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <app-employee-basics-details></app-employee-basics-details>
        <div class="mb20" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="space-around stretch">
          <mat-card fxFlex.gt-xs="40">
            <app-employee-correspondence-details></app-employee-correspondence-details>
          </mat-card>
          <mat-card fxFlex.gt-xs="40">
            <app-employee-permanent-details></app-employee-permanent-details>
          </mat-card>
        </div>
        <div class="mb20" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="space-around stretch">
          <mat-card fxFlex.gt-xs="40">
            <app-employee-spouse-details></app-employee-spouse-details>
          </mat-card>
          <mat-card fxFlex.gt-xs="40">
            <app-employee-bank-details></app-employee-bank-details>
          </mat-card>
        </div>
        <div class="mb20" fxLayout="row wrap" fxLayout.lt-xs="column" fxLayoutGap="20px" fxLayoutAlign="space-around stretch">
          <mat-card fxFlex.gt-xs="40">
            <app-employee-nominee-details></app-employee-nominee-details>
          </mat-card>
          <mat-card fxFlex.gt-xs="40">
            <app-employee-nationality-details></app-employee-nationality-details>
          </mat-card>
        </div>
        <div class="next">
          <button type="submit" (click)="save()" mat-button  matStepperNext>save&continue</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="secondFormGroup" errorMessage="Personal Details is required.">
      <ng-template matStepLabel>Personal Details</ng-template>
       <app-employee-personal-details></app-employee-personal-details>
    </mat-step>
  
    <mat-step [stepControl]="thirdFormGroup" errorMessage="Employee Reference is required.">
      <ng-template matStepLabel>Employee Reference</ng-template>
       <app-employee-reference-details></app-employee-reference-details>
    </mat-step>
    <mat-step errorMessage="Review is required.">
      <ng-template matStepLabel>Review</ng-template>
      <app-employee-review-details></app-employee-review-details>
    </mat-step>   
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

