<form [formGroup]="basicInfoFormGroup" (ngSubmit)="onSubmit()" #basic="ngForm">
  <div class="content pt10" fxLayout="row" fxLayout.xs="column"  fxFlexFill>
      <div class="mb10"fxFlex="15">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Steve" formControlName="firstName" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('firstName')?.invalid">
          <mat-error class="invalid-feedback"> First name is required</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="15">
        <mat-form-field appearance="fill">
          <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middleName" placeholder="Rogers">
        </mat-form-field>
      </div>
      <div fxFlex="15">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last name" formControlName="lastName" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('lastName')?.invalid">
          <mat-error class="invalid-feedback">Last name is required</mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="content pt10" fxLayout="row" fxLayout.xs="column"  fxFlexFill>
    <div class="mb10"fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="As per Aadhar" formControlName="nameAadhar" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('nameAadhar')?.invalid">
        <mat-error class="invalid-feedback">Aadhar name is required</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>Aadhar Number</mat-label>
        <input matInput placeholder="0987 7654 9876" formControlName="AadharNo" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('AadharNo')?.invalid">
        <mat-error class="invalid-feedback">Aadhar number is required</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field class="columns"  appearance="fill">
          <mat-label *ngIf="aadharFile; else aadharFileTemplate">{{aadharFile.name}}</mat-label>
          <ng-template #aadharFileTemplate>
              <mat-label>Aadhar card</mat-label>
          </ng-template>
          <input matInput disabled>
          <button  mat-icon-button matSuffix (click)="fileInput.click()">
              <mat-icon class="material-icons">attach_file</mat-icon>
          </button>
          <input hidden (change)="onSelectAadharFile($event)" #fileInput type="file" id="file">
      </mat-form-field>
    </div>
  </div>
  <div class="content pt10" fxLayout="row" fxLayout.xs="column"  fxFlexFill>
    <div class="mb10"fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput placeholder="05/30/2000" [matDatepicker]="picker" (focus)="picker.open()"  formControlName="dob" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('dob')?.invalid">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-error class="invalid-feedback">Date of birth is required</mat-error>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>PAN Number</mat-label>
        <input matInput placeholder="GMSPM14141M" formControlName="PANnumber" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('PANnumber')?.invalid">
        <mat-error class="invalid-feedback">PAN number is required</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field class="columns" appearance="fill">
        <mat-label *ngIf="PANFile; else panFileTemplate">{{PANFile.name}}</mat-label>
        <ng-template #panFileTemplate>
          <mat-label>PAN card</mat-label>
        </ng-template>
        <input matInput disabled>
        <button  mat-icon-button matSuffix (click)="inputPANfile.click()">
            <mat-icon class="material-icons">attach_file</mat-icon>
        </button>
        <input hidden (change)="onSelectPANFile($event)" #inputPANfile type="file" id="file">
      </mat-form-field>
    </div>   
  </div>
  <div class="content pt10" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="25">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="fill"> 
        <mat-button-toggle *ngFor="let gt of guardianTypes" value="gt">{{gt}}</mat-button-toggle>
      </mat-button-toggle-group>
      <div fxFlex="25">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="" formControlName="guardianType" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('guardianType')?.invalid">
          <mat-error class="invalid-feedback">Name is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="content pt10" fxLayout="row" fxLayout.xs="column"  fxFlexFill>
    <div fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>Nationality</mat-label>
        <input matInput placeholder="0987 7654 9876" formControlName="AadharNo" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('AadharNo')?.invalid">
        <mat-error class="invalid-feedback">Aadhar number is required</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field appearance="fill">
        <mat-label>Passport Number</mat-label>
        <input matInput placeholder="0987 7654 9876" formControlName="AadharNo" [class.is-invalid]="basic.submitted && basicInfoFormGroup.get('AadharNo')?.invalid">
        <mat-error class="invalid-feedback">Aadhar number is required</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="15">
      <mat-form-field class="columns"  appearance="fill">
        <mat-label *ngIf="PassportFile; else passportFileTemplate">{{PassportFile.name}}</mat-label>
        <ng-template #passportFileTemplate>
            <mat-label>Passport File</mat-label>
        </ng-template>
        <input matInput disabled>
        <button  mat-icon-button matSuffix (click)="fileInput.click()">
            <mat-icon class="material-icons">attach_file</mat-icon>
        </button>
        <input hidden (change)="onSelectPassportFile($event)" #fileInput type="file" id="file">
    </mat-form-field>
    </div>
  </div>
  <div align="end">
    <button type="submit" mat-raised-button color="primary" matStepperNext >Save & continue </button>
  </div>
</form>