
<mat-card class="example-card">
    <mat-card-subtitle>Profile info</mat-card-subtitle>
    <mat-card-title>Sibu Mehta</mat-card-title>
    <mat-card-content>
      <label><b>Id:&nbsp;</b></label>6346a63e6175bf9f78dff303 <br><br>
<label><b>E-mail:&nbsp;</b></label>aprilcox@newcube.com <br><br>
<label><b>Role:&nbsp;</b></label>user <br><br>
<label><b>Status:&nbsp;</b></label>Active <br><br>
<label><b>Documents:&nbsp;</b></label>Pending
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>