
  <form [formGroup]="familyRefForm" (ngSubmit)="onSubmit()">
    <table  class="table table-bordered" formArrayName="familyDetail">
      <tr>
        <th><button type="button" mat-button (click)="add()">Add</button></th>
      </tr>
      <tr *ngFor="let row of familyDetails().controls; let i=index" [formGroupName]="i">
        <td>
            Name :
            <input type="text" formControlName="name" class="form-control">
        </td>
        <td>
            Relationship:
            <input type="text" formControlName="relationship" class="form-control">
        </td>
        <td>
          Date of Birth:
          <input type="text" formControlName="dob" class="form-control">
        </td>
        <td>
            <button mat-button (click)="remove(i)">Remove</button>
        </td>
      </tr>
    </table>
   
    <button mat-button type="submit">Submit</button>
    
  </form>