<form [formGroup]="myForm">
  <div formArrayName="references">
      <div *ngFor="let row of referenceDetails.controls; let i=index" [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="Name" name="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Reference" name="name" formControlName="referenceName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mobile No" name="name" formControlName="mobileNo">
        </mat-form-field>

          <button mat-button (click)="delete(i)">Delete</button>

      </div>
  </div>

  <button mat-button (click)="add()">Add</button>

</form>
